---
layout: default
---
<div class="post">

  <div class="header-bar">
    <h2 style="color: #B509AC;">{{ page.title }}</h2>
    <h4 style="font-family: Arial, Helvetica, sans-serif;">{{ page.description }}</h4>
  </div>

  {% if page.display_tags %}
  <div class="tag-category-list">
    <ul class="p-0 m-0">
      {% for tag in page.display_tags %}
        <li>
          <i class="fas fa-hashtag fa-sm"></i> <a href="{{ tag | slugify | prepend: '/blog/tag/' | relative_url }}">{{ tag }}</a>
        </li>
        {% unless forloop.last %}
          <p>&bull;</p>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <ul class="post-list">
    {% assign semester_posts = site[page.collection] | sort: 'date' | reverse %}
    {% for post in semester_posts %}
    <li>
      <h3>
        <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h3>
      <p>{{ post.description }}</p>
      <p class="post-meta">
        {{ post.date | date: '%B %-d, %Y' }}
      </p>
      <p class="post-tags">
        {% for tag in post.tags %}
          <a href="{{ tag | slugify | prepend: '/blog/tag/' | relative_url }}">
            <i class="fas fa-hashtag fa-sm"></i> {{ tag }}</a> &nbsp;
        {% endfor %}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
